/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* RESET */

/* STILI GENERALI */
.container {
  font-family: 'Quicksand', sans-serif;
  width: 1024px;
  margin: 2% auto;
}

body {
  background-image: url('../img/sfondo.png');
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* STILI GENERALI */

/* caratteristiche titolo intestazione */
header .intestazione {
  background-image: url('../img/background-header.jpg');
  border: 8px solid white;
  color: white;
  position: relative;
  height: 350px;
}

header .intestazione .titolo h1 {
  border: 5px solid white;
  font-size: 100px;
  letter-spacing: 15px;
}

header .intestazione .titolo h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
  letter-spacing: 5px;
}

header .intestazione .titolo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

/* caratteristiche menu intestazione */
header .menu {
  background-color: grey;
  margin-bottom: 2%;
}

header .menu ul {
  width: 50%;
  margin: auto;
  line-height: 30px;
}

header .menu ul li {
  display: inline-block;
}

a {
  color: white;
  padding: 9px;
  font-size: 10px;
}

a:hover {
  background-color: darkgray;
}

/* caratteristiche main */
