/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* RESET */

/* STILI GENERALI */
.container {
  font-family: 'Quicksand', sans-serif;
  width: 1024px;
  margin: 2% auto;
}

body {
  background-image: url('../img/sfondo.png');
}
.clearfix::after {
  content:'';
  display: table;
  clear: both;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* STILI GENERALI */

/* caratteristiche titolo intestazione */
header .intestazione {
  background-image: url('../img/background-header.jpg');
  border: 8px solid white;
  color: white;
  position: relative;
  height: 350px;
}

header .intestazione .titolo h1 {
  border: 5px solid white;
  font-size: 100px;
  letter-spacing: 15px;
}

header .intestazione .titolo h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
  letter-spacing: 5px;
}

header .intestazione .titolo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

/* caratteristiche menu intestazione */
header .menu {
  background-color: grey;
  margin-bottom: 1%;
}

header .menu ul {
  width: 50%;
  margin: auto;
  line-height: 30px;
}

header .menu ul li {
  display: inline-block;
}

header .menu ul li a {
  color: white;
  padding: 9px;
  font-size: 10px;
}

a.darkgrey:hover {
  background-color: darkgray;
}

/* caratteristiche main */
main .colonna {
  float: left;
  border-radius: 5px;
}

main .colonna.sinistra {
  width: 24%;
  padding: 5px;
  background-color: white;
}

main .colonna.sinistra .lista-sinistra ul li a {
  color: green;
  font-size: 15px;
}

main .colonna.sinistra .lista-sinistra ul li {
margin-bottom: 10px;
}

main .colonna.sinistra .lista-sinistra ul li:last-child {
  margin-bottom: 0;
}

main .colonna.sinistra .rss .fas.fa-rss-square {
  color: orange;
  font-size: 35px;
  float: left;
  margin-right: 10px;
}

main .colonna.sinistra .rss h3 {
 font-size: 25px;
}

main .colonna.sinistra .rss.theme {
  margin-bottom: 10%;
}

main .colonna.centrale {
  width: 50%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1.5%;
  background-color: white;
}

main .colonna.centrale p {
  font-size: 15px;
}

main .colonna.centrale h2 {
  margin-bottom: 6%;
  font-size: 32.5px;
}

main .colonna.destra {
  width: 24%;
}

main .colonna.destra .box h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

main .colonna.destra .box p {
  font-size: 15px;
}

main .colonna.destra .box {
  background-color: white;
  margin-bottom: 5%;
  padding: 15px;
  border-radius: 5px;
}
